<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azurestoragejk2024;AccountKey=3Y99OCVVWGu36BfGrKR/pj+2isH90YMO3+h9h6ZZGANlJ2LfmPRgsTXQ2aJxKGkeh66q2gjHbF71+AStVJq5og==;EndpointSuffix=core.windows.net"/>
	</appSettings>
</configuration>